<form>
  <SituationForm::Scenario @options={{this.scenarios}} @chosen={{this.parameters.scenario}} onChange={{action (mut this.parameters.scenario) value="target.value"}} />
  <SituationForm::DifficultyMode @options={{this.difficultyModeOptions}} @chosen={{this.parameters.difficultyMode}} @action={{mut this.parameters.difficultyMode}} />
  <fieldset class="form-group" id="modular-count">
    <div class="row">
      <legend>No. of Modular Sets</legend>
      <div class='options'>
        {{#each this.numModularEncounterSets as |num|}}
          <div class="form-check form-check-inline">
            <Input @id={{concat "modular-count" num}} type="radio" name="modular-count" checked={{is-equal this.parameters.numModularEncounterSets num}} class="form-check-input" {{on "click" (fn (mut this.parameters.numModularEncounterSets) num)}} value={{num}} data-test-parameters-modular-encounter-sets={{num}}/>
            <label class="form-check-label" for={{concat "modular-count" num}}>{{num}}</label>
          </div>
        {{/each}}
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group" id="numOfPlayers">
    <div class="form-group row">
      <legend>No. of Players</legend>
      <div class='options'>
        {{#each this.players as |player|}}
          <div class="form-check form-check-inline">
            <Input @id={{concat "numOfPlayers" player}} type="radio" name="numOfPlayers" checked={{is-equal this.parameters.numOfPlayers player}} class="form-check-input" {{on "click" (fn (mut this.parameters.numOfPlayers) player)}} data-test-parameters-num-of-players={{player}}/>
            <label class="form-check-label" for="numOfPlayers">{{player}}</label>
          </div>
        {{/each}}
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="btn-container">
      <button type="button" class="btn btn-primary" {{on "click" this.generate}} data-test-generate>Generate!</button>
    </div>
  </div>
</form>

{{#if this.result}}
  <div class="card" style="width: 18rem;" data-test-result-scenario>
    <div class="card-header">
      <span data-test-result-scenario-name>{{this.result.scenario.name}}</span>
      <p class="card-subtitle mb-2 text-muted">Difficulty Mode: <span data-test-result-difficulty-mode>{{this.result.difficultyMode}}</span></p>
    </div>
    <ul class="list-group list-group-flush">
      {{#each this.result.modularEncounterSets as |set|}}
        <li class="list-group-item" data-test-result-modular-encounter-set>
          <h6 class="card-title"><span data-test-result-modular-encounter-set-name={{set.slug}}>{{set.name}}</span> (<span class="text-muted" data-test-result-modular-encounter-set-pack-name={{set.slug}}>{{set.pack.name}}</span>)</h6>
          <p class="card-subtitle mb-2 text-muted">difficulty {{set.difficulty}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
  {{#if this.result.players}}
    <div class="card" style="width: 18rem;" data-test-result-player>
      {{#each this.result.players as |player|}}
        <div class="card-header" data-test-result-player-header>
          <span data-test-result-player-hero>{{player.identity.hero}}</span>
          <p class="card-subtitle mb-2">{{player.identity.alterEgo}}</p>
          <p class="card-subtitle mb-2 text-muted" data-test-result-player-aspect>{{player.aspect}}</p>
        </div>
      {{/each}}
    </div>
  {{/if}}
{{/if}}
