<form>
  <fieldset class="form-group" id="modular-count">
    <div class="row">
      <legend>No. of Modular Sets</legend>
      <div class='options'>
        {{#each this.numModularEncounterSets as |num|}}
          <div class="form-check form-check-inline">
            <Input @id={{concat "modular-count" num}} type="radio" name="modular-count" checked={{is-equal this.parameters.numModularEncounterSets num}} class="form-check-input" {{on "click" (action (mut this.parameters.numModularEncounterSets) num)}} />
            <label class="form-check-label" for={{concat "modular-count" num}}>{{num}}</label>
          </div>
        {{/each}}
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group" id="difficultyMode">
    <div class="form-group row">
      <legend>Standard/Export Mode</legend>
      <div class='options'>
        <div class="form-check form-check-inline">
          <Input @id="difficultyModeRandom" type="radio" name="difficultyMode" checked={{is-equal this.parameters.difficultyMode "random"}} class="form-check-input" {{on "click" (action (mut this.parameters.difficultyMode) "random")}} />
          <label class="form-check-label" for="difficultyMode">Random</label>
        </div>
        <div class="form-check form-check-inline">
          <Input @id="difficultyModeStandard" type="radio" name="difficultyMode" checked={{is-equal this.parameters.difficultyMode "standard"}} class="form-check-input" {{on "click" (action (mut this.parameters.difficultyMode) "standard")}} />
          <label class="form-check-label" for="difficultyMode">Standard</label>
        </div>
        <div class="form-check form-check-inline">
          <Input @id="difficultyModeExpert" type="radio" name="difficultyMode" checked={{is-equal this.parameters.difficultyMode "expert"}} class="form-check-input" {{on "click" (action (mut this.parameters.difficultyMode) "expert")}} />
          <label class="form-check-label" for="difficultyMode">Expert</label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="btn-container">
      <button type="button" class="btn btn-primary" {{on "click" this.generate}}>Generate!</button>
    </div>
  </div>
</form>

{{#if this.result}}
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      {{this.result.villain.name}}
      <p class="card-subtitle mb-2 text-muted">Difficulty Mode: {{this.result.difficultyMode}}</p>
    </div>
    <ul class="list-group list-group-flush">
      {{#each this.result.modularEncounterSets as |set|}}
        <li class="list-group-item">
          <h6 class="card-title">{{set.name}} <span class="text-muted">({{set.pack}})</span></h6>
          <p class="card-subtitle mb-2 text-muted">difficulty {{set.difficulty}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
