<fieldset class="form-group" id="difficultyMode">
  <div class="form-group row">
    <legend>Standard/Expert Mode</legend>
    <div class="options">
      {{#each @options as |difficultyMode|}}
        <div class="form-check form-check-inline">
          <Input @id={{concat "difficultyMode" (capitalize difficultyMode)}} type="radio" name="difficultyMode" checked={{is-equal @chosen difficultyMode}} {{on "click" (fn @action difficultyMode)}} class="form-check-input" data-test-parameters-difficulty-mode={{difficultyMode}} />
          <label class="form-check-label" for="difficultyMode">{{difficultyMode}}</label>
        </div>
      {{/each}}
    </div>
  </div>
</fieldset>
